* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(209, 207, 250);
}

h1 {
    margin: 20px;
    text-align: center;
}

.input {
    text-align: center;
}

input {
    border: 3px;
    padding: 10px;
    border-color: violet;
    border-style: solid;
    border-radius: 5px;
    height: 30px;
    width: 275px;
}

button {
    background-color: white;
    border: 3px;
    padding: 10px;
    border-color: violet;
    border-style: solid;
    border-radius: 5px;
    height: 55px;
    width: auto;
}

.results {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.results h3, p {
    margin: 15px;
}

.results h3, p {
    margin: 15px;
}